piskvork.pid
piskvork.exe
piskvork.zip
WhatsNew.txt
gomoku.wav
language
openings.txt
pbrain-pela.exe
piskvork.txt
piskvork_CZ.txt
skins
unzip.exe
pbrain-gomoku-ai
__pycache__
gomoku.log
pbrain-gomoku-ai.exe
pbrain-gomoku-ai.spec
.coverage
unit_tests.py